<div class='navbar navbar-fixed-top' id="page-navigation">
  <div class='navbar-inner'>
    <div class='container'>
      <a href="./index.html" class="brand">{{site_name}}</a>
      <ul class='nav pull-right'>
        {{#sections}}
        <li class='dropdown'>
          {{#if singular}}
            {{#groups}}
            <a {{#url}}href='{{url}}'{{/url}} class='dropdown-toggle' data-toggle='dropdown'>{{name}} <b class="caret"></b></a>
            <ul class="dropdown-menu singular endpoints">{{>endpoints}}</ul>
            {{/groups}}
          {{/if}}
          {{#unless singular}}
            <a class='dropdown-toggle' data-toggle='dropdown'>{{name}} <b class="caret"></b></a>
            <ul class="dropdown-menu multiple">
                {{#groups}}
                  <li class='group'>
                    <a href='{{url}}' class='group-subtitle'>{{name}}</a>
                    <ul class='endpoints'>{{>endpoints}}</ul>
                  </li>
                {{/groups}}
            </ul>
          {{/unless}}
        </li>
        {{/sections}}
      </ul>
    </div>
  </div>
</div>